*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
     margin: 0px;
     padding: 30px 110px;
}

.btn{
    width: 45px;
    height: 45px;
    display: inline-block;
    border: 2px solid red;
    border-radius: 50%;
    cursor: pointer;
}

#Red{
    background-color: red;
    color: white;
    border: 2px solid black;
}
#Aqua{
    background-color: aqua;
}

#Gray{
    background-color: gray;
}
